@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @responsive {
    /* SCROLL SNAP */
    /* align */
    .snap-start {
      scroll-snap-align: start;
    }
    /* type */
    .snap-mandatory {
      scroll-snap-type: y mandatory;
    }
    .snap-proximity {
      scroll-snap-type: y proximity;
    }
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

}